<h1><%= @trail.name %> Info</h1>
<ul>
  <h3>Trail Length: <%= @trail.length %></h3>
  <h3>Trail Address: <%= @trail.address %></h3>
</ul>

 <h3>Total number of trips related with this trail: <%= @trail.trips.count %></h3>